# Ignore macOS system files
.DS_Store

# Ignore project-specific files and directories
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/
env.bak/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore text editor and IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore compiled code or build directories
*.o
*.lo
*.la
*.a
*.class
*.so
*.dylib
*.dll
*.exe
__pycache__/
build/
dist/
node_modules/
bower_components/


# Ignore various temporary files
*.tmp
*.bak
*.swp

# Ignore Virtual Environments
myenv/
.vercel

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local